<section class="favorite-activity">
  <div class="container">
    <div class="col-lg-12">
      <!-- activity list -->
      <%= render "shared/activity_list" , activities: @activities %>
    </div>
  </div> 
</section>
