<section class="favorite-bike" >
  <div class="container">
    <div class="col-lg-12">
      <div id="bike">
        <%= render "shared/bikes_list", bikes: @bikes%>
      </div>
    </div>
  </div>  
</section>
